body {
  font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

#sankey {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

path {
  fill: none;
  stroke-opacity: 0.4;
  transition: stroke-opacity 0.2s;
}

path:hover {
  stroke-opacity: 0.8;
}

rect {
  stroke: #333;
  stroke-width: 1px;
}

text {
  font-size: 14px;
  font-weight: 500;
  fill: #1f2937;
  pointer-events: none;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

#description {
  max-width: 900px;
  margin: 30px auto 10px auto;
  padding: 0 20px;
  line-height: 1.5;
}

text {
  font-size: 12px;
  fill: #333;
  pointer-events: none;
}

#tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

/*for contrast */
text {
  paint-order: stroke;
  stroke: white;
  stroke-width: 3px;
  stroke-linejoin: round;
}